.navigation-container {
    background: #111;
}

.navigation {
    display: flex;
}

.navigation .brand-logo {
    width: 164px;
    height: auto;
}

.navigation li {
    display: inline-flex;
    vertical-align: middle;
    margin: auto 10px;
}

.navigation li>a {
    text-decoration: none;
    color: #d4d4d4;
    margin-top: -4px;
    transition: 0.2s ease;
}

.navigation li>a:hover {
    color: white;
}
