.form-post-box textarea {
    width: 100%;
    min-height: 10vh;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Open Sans", sans-serif;
}

.post {
    background: white;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.post-header, .post-footer {
    padding: 10px;
}

.post-body {
    padding: 5px 10px;
}

.post-header {
    border-bottom: 1px solid #ccc;
}

.post-footer {
    border-top: 1px solid #ccc;
    color: #aaa;
}